/*
Main colors:
 - blue: #013369
 - red: #D50A0A
*/

.navbar {
	background-color: #013369;
	max-height: 80px;
	position: fixed;
    padding: 0.4rem 2rem;
    left: 0;
    right: 0;
	top: 0;
	z-index: 2;
}
.navbar .navbar-center {
	align-items: normal;
}
.navbar-section > a {
	margin-right: 1rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.logo img{
	max-width: 175px;
}

#main {
    margin-top: 80px;
}

#footer {
	background-color: #013369;
    padding: 2rem 0;
}
#footer .copyright {
    color: white;
	font-size: 14px;
	font-style: italic;
    margin-top: 2rem;
}
.footer-column {
	border-top: 4px solid #D50A0A;
}
.footer-logo {
	text-align: center;
}
.footer-logo img{
	max-width: 325px;
    margin: auto;
    width: 100%;
}
#footer .social {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}
#footer .social a {
    color: white;
}
#footer .copyright .nfl-logo {
	background-image: url(https://static.nfl.com/static/content/public/static/wildcat/assets/img/application-shell/shield/default.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 64px;
    width: 64px;
    margin: auto;
}
#footer .footer-column ul {
    margin: 0;
}
#footer .footer-column li {
    font-size: 22px;
    color: white;
    text-decoration: none;
	list-style: none;
	padding: 0.5rem 1rem;
}
#footer .footer-column li > a {
    color: white;
    text-decoration: none;
}
#footer .footer-column li:hover {
    background-color: #12559c;
}

.box {
	background-color: #dedede;
	min-height: 200px;
    box-shadow: 0 0 9px 0px #0000000f;
    margin-bottom: 1rem;
}
.box-title {
	background-color: #013369;
	color: white;
	padding: 0.5rem 1rem;
}
.box-content {
    padding: 1rem;
}

.asset-box {
	position: relative;
	margin-bottom: 1rem;    
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}
.asset-box .asset-image img {
	width: 100%;
}
.asset-header {
    position: absolute;
    top: 0;
    left: 0;
	right: 0;    
	background-color: #013369;
    padding: 0.5rem 0.5rem 0 0.5rem;
}
.asset-header:before {
    content: " ";
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 2em;
    background: inherit;
    transform: skew(-3.6deg) rotate(-3.6deg);
    z-index: 1;
}
.asset-header .asset-logo {
	max-width: 60px;
}
.asset-header .asset-logo img {
	width: 100%;
}
.asset-footer {
    height: 80px;
    background-color: #013369;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	padding: 0 1rem;
	color: white;
	z-index: 1;
}
.asset-footer:before {
    content: " ";
    position: absolute;
    top: -1em;
    left: 0;
    width: 100%;
    height: 2em;
    background: inherit;
    transform: skew(3.6deg) rotate(3.6deg);
    z-index: -1;
}
.asset-team {
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	display: block;
}
.asset-number {
    font-size: 13px;
    margin-left: 6px;
	color: rgba(255, 255, 255, 0.5);
}
.asset-name {
	display: block;
}
.asset-footer .more {
    margin-top: 0.5rem;
}

.nflbutton {
    background-color: #D50A0A;
    color: white;
    padding: 0.3rem 0.5rem;
}